@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
   
    Layout = "~/Views/Shared/_LayoutCoupon.cshtml";
}

<h1> This Is The Data Of Scaning</h1>
<h1>@ViewBag.Data </h1>