<link rel="stylesheet" href="~/css/style.css" />

@{
    ViewData["Title"] = "Home Page";
}
<div class="container-fluid p-0">

    <div class="row justify-content-center m-0">
        <div class="col-md-12 text-center">
            <h1 class="animated-heading">Welcome to Loyalty Coupon System</h1>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row justify-content-center">

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card shadow-sm transition-card" style="height: 450px;">
                    <div class="card-img-container">
                        <img src="~/images/Admin Panel image.png" class="card-img-top card-image" alt="Admin Panel">
                    </div>
                    <div class="card-body text-center mt-3">
                        <h5 class="card-title">Admin Panel</h5>
                        <h6>A dashboard that controls managing users, coupons, and system settings. It provides tools for tracking activity, generating reports, and ensuring efficient operations.</h6>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card shadow-sm transition-card" style="height: 450px;">
                    <div class="card-img-container">
                        <img src="~/images/Loyalty QR Coupon image.jpg" class="card-img-top card-image" alt="Loyalty QR Coupon">
                    </div>
                    <div class="card-body text-center mt-3">
                        <h5 class="card-title">Loyalty QR Coupon</h5>
                        <h6>A feature to generate exclusive QR codes for loyalty coupons. It ensures secure redemption, tracks usage, and enhances customer engagement seamlessly.</h6>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card shadow-sm transition-card" style="height: 450px;">
                    <div class="card-img-container">
                        <img src="~/images/Account Management.png" class="card-img-top card-image" alt="Account Management">
                    </div>
                    <div class="card-body text-center mt-3">
                        <h5 class="card-title">Account Management</h5>
                        <h6>Create accounts for representatives, HR, clients, storekeepers, and more. Manage roles and ensure smooth operations across the system.</h6>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
